<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de Denúncias</title>
</head>
<body>
<section layout:fragment="content">
<h1>Denúncias Cadastradas</h1>

<div th:if="${mensagem}" th:text="${mensagem}" class="alert alert-success"></div>

<p><a th:href="@{/denuncias/novo}" class="btn btn-primary">Cadastrar nova denúncia</a></p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>Id da Denúncia</th>
        <th>Descrição</th>
        <th>Localização</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="denuncia : ${denuncias}">
        <td th:text="${denuncia.id}"></td>
        <td th:text="${denuncia.descricao}"></td>
        <td th:text="${denuncia.localizacao}"></td>
        <td th:text="${denuncia.status}"></td>
        <td>
            <a th:if="${denuncia.status.name() == 'PENDENTE'}"
               th:href="@{/caes/registrar-por-denuncia/{id}(id=${denuncia.id})}"
               class="btn btn-sm btn-info">Registrar Cão</a>
            <a th:href="@{/denuncias/resgatar/{id}(id=${denuncia.id})}" class="btn btn-sm btn-sucess">Resgatar</a>
            <a th:href="@{/denuncias/ignorar/{id}(id=${denuncia.id})}" class="btn btn-sm btn-secondary">Ignorar</a>
        </td>
        <td>
            <a th:href="@{/denuncias/editar/{id}(id=${denuncia.id})}" class="btn btn-sm btn-warning">Editar</a>
            |
            <a th:href="@{/denuncias/deletar/{id}(id=${denuncia.id})}" class="btn-delete" >Deletar</a>
        </td>
        <th>ONG Responsável</th>

        <td th:text="${denuncia.ong != null ? denuncia.ong.nome : 'N/A'}"></td>

        <a th*if="${denuncia.ong == null}" th:href="@{/caes/registrar-por-denuncia/{id}(id=${denuncia.id})}"
           class="btn btn-sm btn-info">Investigar</a>
    </tr>
    </tbody>
</table>
</section>
</body>
</html>