<!
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Denúncias</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Foto</th>
        <th>Descrição</th>
        <th>Localização</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="denuncia : ${denuncias}">
        <td th:text="${denuncia.fotoUrl}"></td>
        <td th:text="${denuncia.descricao}"></td>
        <td th:text="${denuncia.localizacao}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>