<!
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de ONG'S</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cidade</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ong : ${ongs}">
        <td th:text="${ong.nome}"></td>
        <td th:text="${ong.cidade}"></td>
        <td th:text="${ong.telefone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>