<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>AdotePet - Página Inicial</title>
</head>
<body>
<section layout:fragment="content">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bem-vindo ao AdotePet</h1>
            <p class="col-md-8 fs-4">Sua plataforma para conectar animais abandonados a um novo lar. Juntos, podemos fazer a diferença.</p>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/denuncias/denunciar}" class="btn btn-primary btn-lg" type="button">Fazer uma Denúncia</a>
                <a th:href="@{/login}" class="btn btn-secondary btn-lg" type="button">Login de ONG</a>
            </div>

            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/ongs/listar}" class="btn btn-success btn-lg" type="button">Acessar Painel da ONG</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>