<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Registro de Nova ONG</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mt-4">Registrar Nova ONG</h1>
                <div th:if="${mensagemErro}" class="alert alert-danger" th:text="${mensagemErro}"></div>
                <form th:action="@{/registro}" th:object="${ong}" method="post" class="mt-4">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="mb-3">
                        <label for="nome" class="form-label">Nome da ONG:</label>
                        <input type="text" id="nome" th:field="*{nome}" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" th:field="*{email}" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha:</label>
                        <input type="password" id="senha" th:field="*{senha}" class="form-control" required />
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>