<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Lista de ONGs</title>
</head>
<body>
<section layout:fragment="content">
<h1>ONGs Cadastradas</h1>

<div th:if="${mensagem}" th:text="${mensagem}" class="alert alert-success"></div>

<p><a th:href="@{/ongs/novo}" class="btn btn-primary">Cadastrar Nova ONG</a></p>

<table class="table table-striped table-hover">
    <thead class="table-dark">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ong : ${ongs}">
        <td th:text="${ong.nome}"></td>
        <td th:text="${ong.email}"></td>
        <td th:text="${ong.telefone}"></td>
        <td>
            <a th:href="@{/ongs/editar/{id}(id=${ong.id})}" class="btn btn-sm btn-warning">Editar</a>
            |
            <a th:href="@{/ongs/deletar/{id}(id=${ong.id})}" class="btn-delete" >Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
</section>
</body>
</html>